#root{
	display: flex;
	width: 99w;height:95vh;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	// background-image: url("./main.jpg");
	.heading {
		color: red;
		font-family: "Poppins", sans-serif, serif;
		font-weight: 900;
		font-size: 3rem;
	}
}
